body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8c00ff;
    position: relative;
}

.container {
    position: relative;
    text-align: center;
}

.main-image {
    width: 50%; /* Ajuste a largura da imagem conforme necessário */
    max-width: 400px; /* Limite a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaço entre a imagem e o contador */
}

.counter {
    color: #000; /* Cor do texto do contador */
    font-size: 2em;
}

.time {
    margin: 10px 0;
}
